body {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Navigation Bar Style*/
.navigation {
    font-size: large;
     display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.language_options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color:#990E21;
}

.contact_button {
background-color: #990E21;
color:beige;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 1%;
padding-top: 1%;
border-radius: 5px;
}

/*Biography Style*/
.biography {
background-color: #990E21;
color: beige;
font-size:250%;
display:flex;
flex-flow: row nowrap;
justify-content: space-evenly;
align-items: space-evenly;
padding-top: 8%;
padding-bottom: 8%;
padding-left: 10%;
padding-right: 10%;
}

.cv_photo {
max-width: 25%;
height: auto;
padding-right: 5%;   
}

/*Relevant Classes Section Style*/
.rc_section_heading {
display:flex;
flex-flow: column nowrap;
justify-self: flex-start;
padding-right: 20%;
}

.relevant_classes {
background-color: beige;
color:#990E21;
display:flex;
flex-flow: row nowrap;
align-items: space-evenly;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 3%;
padding-right: 3%;
}

.class_lists {
display:flex;
flex-flow: column nowrap;
align-items: space-evenly;  
}

/*Projects Section Style*/
.projects_heading {
display:flex;
flex-flow: column nowrap;
justify-self: flex-start;
padding-right: 20%;
}

.projects {
background-color: #990E21;
color:beige;
display:flex;
flex-flow: row nowrap;
justify-content: space-evenly;
align-items: space-evenly;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 3%;
padding-right: 3%;
font-size: 125%;
}

/*Hobbies Section Style*/
.hobbies_heading {
display:flex;
flex-flow: column nowrap;
justify-self: flex-start;
padding-right: 20%;
}

.hobbies {
background-color: beige;
color:#990E21;
display:flex;
flex-flow: row nowrap;
justify-content: space-evenly;
align-items: space-evenly;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 3%;
padding-right: 3%;
font-size: 125%;
}

.hobbies_text {
flex-flow: column wrap;
padding-right: 3%;
}

.cats_photo {
max-width: 25%;
height: auto;
}

/*Mobile Adjustments*/
@media only screen and (max-width: 650px) {
  *  {flex-direction: column;}
}